<!DOCTYPE html>
<html>
   <head>
      <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
      <title>{{page.title}}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <link rel="stylesheet" href="css/divshot-util.css" />
      <link rel="stylesheet" href="css/bootstrap.css" />
      <link rel="stylesheet" href="css/bootstrap-responsive.css" />
   </head>
   <body>
      <div class="navbar navbar-fixed-top">
         <div class="navbar-inner">
            <div class="container">
               <a class="brand" href="index.html">GAUNTLT</a>
               <div class="navbar-content">
                  <ul class="nav  pull-right">
                     <li>
                        <a href="index.html#getting-started">Quickstart</a> 
                     </li>
                     <li>
                        <a href="index.html">Home</a> 
                     </li>
                     <li>
                        <a href="sign-up.html">Email Sign Up</a> 
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </div>

      {{ content }}

      <div class="well">
        <p> &copy; Copyright 2012 - MIT License | <a href="https://github.com/gauntlt/gauntlt">GitHub Repo for GAUNTLT</a></p>
      </div>

   </body>
</html>
